<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <h1><%= title %></h1>
  <nav>
    <a class= "btn btn-dark homepage-button" href="/flights/new">Add A New Flight</a>
    <a class= "btn btn-dark homepage-button" href="/flights">All Flights</a>
  </nav>
</main>

<%- include('./partials/footer') %>
