<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1 id="new-flight-h1"><%= title %></h1>
  <form class="form-group" action="/flights" method="post">
    <label>Airline:
      <input class="form-control" type="text" name="airline" required>
    </label><br>
    <label>Airport:
      <select class="form-control" name="airport" required>
        <option value="">--Please choose an option--</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input class="form-control" type="text" name="flightNo" required>
    </label><br>
    <label>Departing Date:
      <input class="form-control" type="datetime-local" name="departs" required>
    </label><br>
    <button id="new-flight-button" type="submit" class="btn btn-dark">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>