<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights" method="post">
    <label>Airline:
      <input type="text" name="airline" required>
    </label><br>
    <label>Airport:
      <select name="airport" required>
        <option value="">--Please choose an option--</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="text" name="flightNo" required>
    </label><br>
    <label>Departing Date:
      <input type="datetime-local" name="departs" required>
    </label><br>
    <button type="submit" id="add-flight">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>