<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Flight</title>
</head>
<body>
  <h1>Add A New Flight</h1>
  <form action="/flights" method="post">
    <label>Airline:
      <input type="text" name="airline">
    </label><br>
    <label>Airport:
      <input type="text" name="airport">
    </label><br>
    <label>Flight Number:
      <input type="text" name="flightNo">
    </label><br>
    <label>Departing Date:
      <input type="text" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
</body>
</html>